.heading
{
    font-size:20px;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    width: 100%;
}

.heading_div
{
    box-shadow: 5px 5px 5px grey;
    background: white;
    color: black;
    border-radius: 20px;
    float: none;
    padding: 10px;
   
}
.heading_div2
{
    font-size: 18px;
}